<br>
<div class="nav justify-content-center">
    <h1>Novo status</h1>
</div>

<%= render 'form', progress: @progress, class:"btn btn-light" %>

<%= link_to 'Back', progresses_path, class:"btn btn-light" %>
