<br>
<div class="nav justify-content-center"> 
    <h1>Novo cardápio/produto</h1>
</div>

<%= render 'form', menu_product: @menu_product %> 

<%= link_to 'Back', menu_products_path , class:"btn btn-light"%>
