<p id="notice"><%= notice %></p>

  <div class="nav justify-content-center">  
    <h1>Seja bem vindo!</h1>
  </div>
    
  <br>

  <div class="nav justify-content-center">
    <h2><strong> Lanchonete </strong><h2>
  </div>
  
  <div class="nav justify-content-center">
    <figure class="figure">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrBHeamZyNioLeyEwXFEGVWqvWUH-OYUYAhg&usqp=CAU" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption"></figcaption>
    </figure>
  </div>

  <div class="nav justify-content-center">
    <%=link_to 'Realizar pedido', new_request_path, class:"btn btn-light"%>
  </div>

