<p id="notice"><%= notice %></p>

<p>
  <strong>Apresentacao:</strong>
  <%= @home_page.apresentacao %>
</p>

<%= link_to 'Edit', edit_home_page_path(@home_page) %> |
<%= link_to 'Back', home_pages_path %>
